<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h1>Input login details</h1>
    <p>
        <span th:text="${error}" style="color: red"/>
    </p>
    <form action="#" th:action="@{/users/login}" th:object="${login}"
          method="POST">
        <input type="text" th:field="*{username}" placeholder="Username"
               class="form-control mb-4 col-4">
        <input type="password"  th:field="*{password}" placeholder="Password"
               class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Login</button>
    </form>
</div>
</body>
</html>